#Redirector-Stemware
{
    background-image: url(Data/promo_glass.png);
    background-repeat: no-repeat;
    background-position: bottom;    
    background-position-x: left;
    min-height:170px;
}

#Redirector-HomeAccents
{
    background-image: url(Data/promo_plates.png);
    background-repeat: no-repeat;
    background-position:bottom;
    min-height:170px;
}
#Redirector-ClearenceItems
{
    background-image: url(Data/promo_album.png);
    background-repeat: no-repeat;
    min-height:170px;
    background-position-x:100%;
    background-position-y:bottom;
    
}
#main-body,#BridalNavBar
{
    max-width: 68%;
    
}
#Redirector
{
    
    border: 3px;
    border-color: black;
}

body{
    background-image: url(Data/background12.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#header
{
    max-width: 70%;
    margin: auto;
}

.card{
    width: 100%;
    
}


#MoreOptions>.navbar-nav>.nav-item
{
    padding-right: 20px !important;
}

@media screen and (max-width: 1450px)
{
    #Redirector-Stemware
    {
        min-height: 190px;;
    }
}
/*Media queries*/

@media screen and (max-width: 1200px)
{
    #main-body,#BridalNavBar
    {
        max-width: 88% !important;
        
    } 

    #Items>nav>div
    {
        width: 88% !important;
    }

    #header
    {
        max-width:88%;
    }
}

@media screen and (max-width: 1400px) {
    #Redirector-ClearenceItems>p,#Redirector-ClearenceItems>a>p
    {
        max-width: 49% !important;
    }
    
  }
@media  screen and (max-width:992px) {
    #headerSupportedContent>ul
    { 
        align-items:unset;
    }
    #OurServices>ul>li>a,#OurOffers>ul>li>a
    {
        color:white;
    }
    #Items,#BridalBar
    {
        display: none;
    }

    
}