#Redirector-Stemware
{
    background-image: url(Data/promo_glass.png);
    background-repeat: no-repeat;
    background-position: bottom;    
    background-position-x: left;
    min-height:170px;
}


#Redirector-HomeAccents
{
    background-image: url(Data/promo_plates.png);
    background-repeat: no-repeat;
    background-position:bottom;
    min-height:170px;
}
#Redirector-ClearenceItems
{
    background-image: url(Data/promo_album.png);
    background-repeat: no-repeat;
    min-height:170px;
    background-position-x:100%;
    background-position-y:bottom;
    
}
#Redirector>div>a{
    color: /*rgba(33, 33, 66, 0.89);*/#234a6dcc;
    text-decoration: none;
}
#Redirector>div>p
{
    color:grey;
}
#main-body,#BridalNavBar
{
    max-width: 68%;
    
}
#Redirector
{
    
    border: 3px;
    border-color: black;
}

body{
    background-image: url(Data/background12.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#header
{
    max-width: 70%;
    margin: auto;
}

#headerSupportedContent>ul>li
{
    padding-right: 8px;
}
#navbarSupportedContent>ul>li>a
{
    color:rgba(0, 0, 0, 0.692);
}
.card{
    width: 100%;
    
}


#card>div
{
    border-style: solid;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    border-color: rgba(155, 148, 148, 0.863);
    border-width: 2px;
    
}
#cover-image
{
    padding-left: 7px!important;
    padding-right: 7.5px !important;
}

#MoreOptions>.navbar-nav>.nav-item
{
    padding-right: 20px !important;
}

/*Media queries*/



@media  screen and (max-width:992px) {
    #headerSupportedContent>ul
    { 
        align-items:unset;
    }
    #OurServices>ul>li>a,#OurOffers>ul>li>a
    {
        color:white;
    }
    #Items,#BridalBar
    {
        display: none;
    }

    
}



@media screen and (max-width: 1200px)
{
    #main-body,#BridalNavBar
    {
        max-width: 88% !important;
        
    } 

    #Items>nav>div
    {
        width: 88% !important;
    }

    #header
    {
        max-width:88%;
    }
}

@media screen and (max-width: 1375px)
{
    #main-body,#BridalNavBar
    {
        max-width: 84% !important;
        
    } 

    #Items>nav>div
    {
        width: 84% !important;
    }

    #header
    {
        max-width:84%;
    } 
}

@media screen and (max-width: 1400px) 
{
    #Redirector-ClearenceItems>p,#Redirector-ClearenceItems>a>p
    {
        max-width: 49% !important;
    }
    
}

@media screen and (max-width: 1450px)
{
    #Redirector-Stemware
    {
        min-height: 190px;;
    }
}

@media screen and (max-width: 1152px)
{
    #main-body,#BridalNavBar
    {
        max-width: 97% !important;
        
    } 

    #Items>nav>div
    {
        width: 98% !important;
    }

    #header
    {
        max-width:97% !important;
    }
}
