.bg 
{
    background-image:url('1.2-ftz/bg.jpg');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#topNavBar
{
    max-width: 960px;
    margin:auto;
}
#navigationBar>.container-fluid
{
    border-style:solid;
    border-width: 0.5px;
    border-color: rgba(255, 255, 255, 0.247);
    border-spacing: 10vh;
}
#topCollapsibleContent>.navbar-nav>.nav-item>a
{
    font-size: small;
    color: white!important;
    padding-top: auto;
    
} 

#topBar>.navbar>.container-fluid
{    
    margin-top: 0% ;
    max-width: fit-content;
    margin-right: -1%;
    max-height: fit-content;
}
#servicesBody
{
    font-size: 2vh;
    word-spacing: 2px;
    
}

#about>.row
{
    border-style:solid;
    border-top: none;
    margin-left: -4px;
    border-width: 0.5px;
    border-color: rgba(255, 255, 255, 0.247);
    margin-right:-1px;
}
#about
{
    padding-bottom: 7px;
}

#collapsibleNavContent>.navbar-nav>.nav-item>a
{
    max-height: 11vh;
    color: rgba(0, 225, 255, 0.685);
}


#collapsibleNavContent
{
    position: relative;
}
.navbar-brand
{   

    margin-inline:initial;
    position: relative;
}
.body-Layout
{
    max-width: 960px;
    margin:auto;
    text-align: center;
    margin-top: 6vh;
}

.nav-item>a:hover
{
    color: rgba(255, 255, 255, 0.863)!important;
    background-color: rgba(67, 105, 161, 0.795);
    
    border-radius: 1vh;
}

#footer>.container-fluid
{
    max-width: 960px;
    background-color:rgba(0, 25,81, 0.5);
    text-align:center;
    margin :auto;
    padding-top: 1vh;
    margin-top:2vh;
    min-height: 5vh;;
    font-size: larger;
    color: white;
    margin-bottom: 2vh;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    .navbar-brand
    {
        position: absolute !important;
    }
    #collapsibleNavContent
    {
        padding-left: 22%;
    }
    #collapsibleNavContent>.navbar-nav>.nav-item
    {
        min-width:27.5% ;
    }
    .navbar-brand>img
    {
        max-height: 20vh;
        max-width:70vh;
        margin-left: -10%;
    }
    #column>img
    {
        max-width:300px!important;
    }
    #navbarDropdownMenuLink
    {
        display: none;
    }

}
@media only screen and (max-width: 992px)
{
    #topBar
    {
        display: none;
    }
    #seperators
    {
        display: none;
    }
}

@media only screen and (min-width: 576px)
{
    #column>img
    {
        max-width: 140px;
    }
    
}

@media only screen and (max-width : 290px)
{
    #column>img
    {
        max-width: 140px;
    }
}

@media only screen and (max-width : 575px)
{
    #column>p
    {
        text-align:center !important;
    }
    .body-Layout
    {
        max-width :369px !important;
    }
}

@media only screen and (min-width:576px) and (max-width: 829px)
{
    #sevicesBody
    {
        margin-left: 84px;
        max-width: 300px;;
       
    }
}
@media only screen and (max-width:306px)
{
    #serviceImgs>img
    {
        max-width: 218px;
    }
}